USE [master]
GO
/****** Object:  Database [JD_STAFF]    Script Date: 5/10/2023 7:11:53 p. m. ******/
CREATE DATABASE [JD_STAFF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JD_STAFF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\JD_STAFF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JD_STAFF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\JD_STAFF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JD_STAFF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JD_STAFF]
GO
/****** Object:  User [almacenista]    Script Date: 5/10/2023 7:11:53 p. m. ******/
CREATE USER [almacenista] FOR LOGIN [almacenista] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[CARRITO_COMPRAS]    Script Date: 5/10/2023 7:11:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRITO_COMPRAS](
	[ID_CARRITO] [int] NOT NULL,
	[ESTADO_CARRITO] [varchar](20) NOT NULL,
	[USUARIO_ID_USUARIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CARRITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 5/10/2023 7:11:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID_CATEGORIA] [varchar](10) NULL,
	[NOMBRE_CATEGORIA] [varchar](40) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRA]    Script Date: 5/10/2023 7:11:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRA](
	[ID_COMPRA] [int] NOT NULL,
	[PRECIO_COMPRA] [int] NOT NULL,
	[REFERENCIA_PAGO] [varchar](45) NOT NULL,
	[METODO_PAGO] [varchar](45) NOT NULL,
	[ESTADO_COMPRA] [varchar](45) NOT NULL,
	[USUARIO_DOCUMENTO] [float] NOT NULL,
	[CARRITO_COMPRA_ID_CARRITO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_CARRITO]    Script Date: 5/10/2023 7:11:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_CARRITO](
	[CANTIDAD] [int] NOT NULL,
	[ID_PRODUCTO] [varchar](25) NOT NULL,
	[ID_CARRITO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_COMPRA]    Script Date: 5/10/2023 7:11:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_COMPRA](
	[ID_COMPRA] [int] NOT NULL,
	[ID_ORDEN] [int] NOT NULL,
	[CODIGO_PRODUCTO] [varchar](25) NOT NULL,
	[CANTIDAD_PRODUCTO] [int] NOT NULL,
	[COMPRA_ID_COMPRA] [int] NOT NULL,
	[ID_CARRITO] [int] NOT NULL,
	[USUARIO_DOCUMENTO] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_CIVIL]    Script Date: 5/10/2023 7:11:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_CIVIL](
	[ID_ESTADO_CIVIL] [int] NOT NULL,
	[ESTADO_CIVIL] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO_CIVIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOTOS]    Script Date: 5/10/2023 7:11:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOTOS](
	[ID_FOTOS] [varchar](40) NOT NULL,
	[RUTA] [varchar](40) NULL,
	[PRODUCTO_CODIGO_PRODUCTO] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FOTOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORICO_MOVIMIENTOS]    Script Date: 5/10/2023 7:11:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORICO_MOVIMIENTOS](
	[ID_HISTORICO_INVENTARIO] [int] NOT NULL,
	[TIPO_MOVIMIENTO] [varchar](45) NOT NULL,
	[CANTIDAD_MOV] [int] NOT NULL,
	[FECHA_MOV] [date] NOT NULL,
	[CODIGO_PRODUCTO] [varchar](25) NOT NULL,
	[ID_INVERNTARIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_HISTORICO_INVENTARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTARIO]    Script Date: 5/10/2023 7:11:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTARIO](
	[ID_INVENTARIO] [int] NOT NULL,
	[CODIGO_PRODUCTO] [varchar](25) NOT NULL,
	[CANTIDAD_DISPONIBLE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_INVENTARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 5/10/2023 7:11:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[CODIGO_PROD] [int] NOT NULL,
	[NOMBRE_PROD] [varchar](40) NOT NULL,
	[LINE] [varchar](40) NOT NULL,
	[DESCRIPCION] [varchar](200) NOT NULL,
	[PRECIO] [float] NOT NULL,
	[MARCA] [varchar](1) NOT NULL,
	[TALLA] [varchar](5) NOT NULL,
	[COLOR] [varchar](1) NULL,
	[USUARIO_ID_USUARIO] [int] NOT NULL,
	[SUBCATEGORIA_ID_CARRITO_SUBCATEGORIA] [varchar](1) NOT NULL,
	[ETIQUETAS_BUSQUEDA] [varchar](40) NULL,
	[DETALLE_CARRITO_ID_CARRITO] [varchar](100) NOT NULL,
	[DETALLE_CARRITO_ID_PRODUCTO] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_PROD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBCATEGORIA]    Script Date: 5/10/2023 7:11:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBCATEGORIA](
	[ID_SUBCATEGORIA] [varchar](10) NOT NULL,
	[NOMBRE_SUBCATEGORIA] [varchar](40) NOT NULL,
	[CATEGORIA_ID_CATEGORIA] [varchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SUBCATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_DE_DOCUMENTO]    Script Date: 5/10/2023 7:11:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_DE_DOCUMENTO](
	[ID_DOCUMENTO] [int] NOT NULL,
	[TIPO_DE_DOCUMENTO] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_DE_USUARIO]    Script Date: 5/10/2023 7:11:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_DE_USUARIO](
	[ID_TIPO_DE_USUARIO] [int] NOT NULL,
	[TIPO_DE_USUARIO] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_DE_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 5/10/2023 7:11:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_DOCUMENTO] [int] NOT NULL,
	[PRIMER_NOMBRE] [varchar](30) NOT NULL,
	[SEGUNDO_NOMBRE] [varchar](30) NOT NULL,
	[PRIMER_APELLIDO] [varchar](45) NOT NULL,
	[SEGUNDO_APELLIDO] [varchar](45) NOT NULL,
	[FECHA_DE_NACIMIENTO] [date] NULL,
	[TIPO_DE_DOCUMENTO] [int] NULL,
	[TIPO_USUARIO] [int] NULL,
	[CONTRASENA] [varchar](500) NULL,
	[ESTADO_CIVIL] [int] NULL,
	[CELULAR] [varchar](15) NULL,
	[MUNICIPIO_ID] [int] NULL,
	[CORREO] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CARRITO_COMPRAS] ([ID_CARRITO], [ESTADO_CARRITO], [USUARIO_ID_USUARIO]) VALUES (1, N'Anonimo', 123456789)
INSERT [dbo].[CARRITO_COMPRAS] ([ID_CARRITO], [ESTADO_CARRITO], [USUARIO_ID_USUARIO]) VALUES (3, N'Procesando', 456789)
INSERT [dbo].[CARRITO_COMPRAS] ([ID_CARRITO], [ESTADO_CARRITO], [USUARIO_ID_USUARIO]) VALUES (4, N'Anonimo', 789123456)
GO
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOMBRE_CATEGORIA]) VALUES (N'1C', N'CASCOS')
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOMBRE_CATEGORIA]) VALUES (N'1A', N'ACCESORIOS')
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOMBRE_CATEGORIA]) VALUES (N'1I', N'INTERCOMUNICADORES')
GO
INSERT [dbo].[COMPRA] ([ID_COMPRA], [PRECIO_COMPRA], [REFERENCIA_PAGO], [METODO_PAGO], [ESTADO_COMPRA], [USUARIO_DOCUMENTO], [CARRITO_COMPRA_ID_CARRITO]) VALUES (1, 250000, N'1F1245765', N'PSE', N'Pendiente', 123456789, 1)
INSERT [dbo].[COMPRA] ([ID_COMPRA], [PRECIO_COMPRA], [REFERENCIA_PAGO], [METODO_PAGO], [ESTADO_COMPRA], [USUARIO_DOCUMENTO], [CARRITO_COMPRA_ID_CARRITO]) VALUES (2, 800000, N'524657J77', N'TC', N'Rechazada', 987654321, 2)
INSERT [dbo].[COMPRA] ([ID_COMPRA], [PRECIO_COMPRA], [REFERENCIA_PAGO], [METODO_PAGO], [ESTADO_COMPRA], [USUARIO_DOCUMENTO], [CARRITO_COMPRA_ID_CARRITO]) VALUES (3, 34000, N'GW454378', N'PSE', N'Aceptada', 456789, 3)
GO
INSERT [dbo].[DETALLE_COMPRA] ([ID_COMPRA], [ID_ORDEN], [CODIGO_PRODUCTO], [CANTIDAD_PRODUCTO], [COMPRA_ID_COMPRA], [ID_CARRITO], [USUARIO_DOCUMENTO]) VALUES (1, 1, N'A192A3Q', 1, 12345, 101, 123456789)
INSERT [dbo].[DETALLE_COMPRA] ([ID_COMPRA], [ID_ORDEN], [CODIGO_PRODUCTO], [CANTIDAD_PRODUCTO], [COMPRA_ID_COMPRA], [ID_CARRITO], [USUARIO_DOCUMENTO]) VALUES (2, 2, N'A1234G', 1, 74534, 102, 987654321)
INSERT [dbo].[DETALLE_COMPRA] ([ID_COMPRA], [ID_ORDEN], [CODIGO_PRODUCTO], [CANTIDAD_PRODUCTO], [COMPRA_ID_COMPRA], [ID_CARRITO], [USUARIO_DOCUMENTO]) VALUES (3, 3, N'E24RF5', 2, 235543, 103, 456789)
GO
INSERT [dbo].[ESTADO_CIVIL] ([ID_ESTADO_CIVIL], [ESTADO_CIVIL]) VALUES (1, N'SOLTERO(A)')
INSERT [dbo].[ESTADO_CIVIL] ([ID_ESTADO_CIVIL], [ESTADO_CIVIL]) VALUES (2, N'CASADO(A)')
INSERT [dbo].[ESTADO_CIVIL] ([ID_ESTADO_CIVIL], [ESTADO_CIVIL]) VALUES (3, N'DIVORCIADO(A)')
GO
INSERT [dbo].[HISTORICO_MOVIMIENTOS] ([ID_HISTORICO_INVENTARIO], [TIPO_MOVIMIENTO], [CANTIDAD_MOV], [FECHA_MOV], [CODIGO_PRODUCTO], [ID_INVERNTARIO]) VALUES (10, N'ingreso', 1, CAST(N'2023-04-02' AS Date), N'C102', 101)
INSERT [dbo].[HISTORICO_MOVIMIENTOS] ([ID_HISTORICO_INVENTARIO], [TIPO_MOVIMIENTO], [CANTIDAD_MOV], [FECHA_MOV], [CODIGO_PRODUCTO], [ID_INVERNTARIO]) VALUES (20, N'salida', 10, CAST(N'2023-07-08' AS Date), N'C0101', 102)
INSERT [dbo].[HISTORICO_MOVIMIENTOS] ([ID_HISTORICO_INVENTARIO], [TIPO_MOVIMIENTO], [CANTIDAD_MOV], [FECHA_MOV], [CODIGO_PRODUCTO], [ID_INVERNTARIO]) VALUES (30, N'stock', 8, CAST(N'2023-08-01' AS Date), N'C0101', 103)
GO
INSERT [dbo].[INVENTARIO] ([ID_INVENTARIO], [CODIGO_PRODUCTO], [CANTIDAD_DISPONIBLE]) VALUES (101, N'C0101', 5)
INSERT [dbo].[INVENTARIO] ([ID_INVENTARIO], [CODIGO_PRODUCTO], [CANTIDAD_DISPONIBLE]) VALUES (102, N'C0101', 8)
INSERT [dbo].[INVENTARIO] ([ID_INVENTARIO], [CODIGO_PRODUCTO], [CANTIDAD_DISPONIBLE]) VALUES (103, N'C0101', 15)
GO
INSERT [dbo].[SUBCATEGORIA] ([ID_SUBCATEGORIA], [NOMBRE_SUBCATEGORIA], [CATEGORIA_ID_CATEGORIA]) VALUES (N'1C101', N'CROSS', N'1C')
INSERT [dbo].[SUBCATEGORIA] ([ID_SUBCATEGORIA], [NOMBRE_SUBCATEGORIA], [CATEGORIA_ID_CATEGORIA]) VALUES (N'1I101', N'INTERCOMUNICADORES', N'1I')
INSERT [dbo].[SUBCATEGORIA] ([ID_SUBCATEGORIA], [NOMBRE_SUBCATEGORIA], [CATEGORIA_ID_CATEGORIA]) VALUES (N'2C102', N'ABIERTO', N'2C')
GO
INSERT [dbo].[TIPO_DE_DOCUMENTO] ([ID_DOCUMENTO], [TIPO_DE_DOCUMENTO]) VALUES (1, N'CEDULA')
INSERT [dbo].[TIPO_DE_DOCUMENTO] ([ID_DOCUMENTO], [TIPO_DE_DOCUMENTO]) VALUES (2, N'CE')
INSERT [dbo].[TIPO_DE_DOCUMENTO] ([ID_DOCUMENTO], [TIPO_DE_DOCUMENTO]) VALUES (3, N'NIT')
GO
INSERT [dbo].[TIPO_DE_USUARIO] ([ID_TIPO_DE_USUARIO], [TIPO_DE_USUARIO]) VALUES (1, N'CLIENTE')
INSERT [dbo].[TIPO_DE_USUARIO] ([ID_TIPO_DE_USUARIO], [TIPO_DE_USUARIO]) VALUES (2, N'ADMINISTRADOR')
INSERT [dbo].[TIPO_DE_USUARIO] ([ID_TIPO_DE_USUARIO], [TIPO_DE_USUARIO]) VALUES (3, N'ALMACENISTA')
GO
INSERT [dbo].[USUARIO] ([ID_DOCUMENTO], [PRIMER_NOMBRE], [SEGUNDO_NOMBRE], [PRIMER_APELLIDO], [SEGUNDO_APELLIDO], [FECHA_DE_NACIMIENTO], [TIPO_DE_DOCUMENTO], [TIPO_USUARIO], [CONTRASENA], [ESTADO_CIVIL], [CELULAR], [MUNICIPIO_ID], [CORREO]) VALUES (234567, N'Maria', N'Paula', N'Torres', N'Rodriguez', CAST(N'1985-09-30' AS Date), 0, 2, N'sV6*yHcP9@Z', 1, N'3.10457e+009', 0, N'maria.rodriguez@example.com')
INSERT [dbo].[USUARIO] ([ID_DOCUMENTO], [PRIMER_NOMBRE], [SEGUNDO_NOMBRE], [PRIMER_APELLIDO], [SEGUNDO_APELLIDO], [FECHA_DE_NACIMIENTO], [TIPO_DE_DOCUMENTO], [TIPO_USUARIO], [CONTRASENA], [ESTADO_CIVIL], [CELULAR], [MUNICIPIO_ID], [CORREO]) VALUES (345678, N'Andres', N'', N'Morales', N'Rivera', CAST(N'1987-05-18' AS Date), 3, 2, N'1bT$zGhC3#M', 3, N'3.10457e+009', 11001, N'andres.rivera@example.com')
INSERT [dbo].[USUARIO] ([ID_DOCUMENTO], [PRIMER_NOMBRE], [SEGUNDO_NOMBRE], [PRIMER_APELLIDO], [SEGUNDO_APELLIDO], [FECHA_DE_NACIMIENTO], [TIPO_DE_DOCUMENTO], [TIPO_USUARIO], [CONTRASENA], [ESTADO_CIVIL], [CELULAR], [MUNICIPIO_ID], [CORREO]) VALUES (456789, N'Laura', N'Camila', N'Fernandez', N'Perez', CAST(N'2000-01-05' AS Date), 0, 2, N'5tE@jWqA1#p', 1, N'3.10457e+009', 0, N'laura.perez@example.com')
GO
/****** Object:  StoredProcedure [dbo].[act_usuario]    Script Date: 5/10/2023 7:11:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[act_usuario]

@iddocumento int,
@primernombre varchar(30),
@segundonombre varchar (30),
@primerapellido varchar (45) , 
@segundoapellido varchar (45) ,
@tipodedocumento int,
@tipousuario int,
@contraseña varchar (45) ,
@estadocivil int,
@celular varchar (15),
@municipio int,
@correo varchar (45) 

as
begin
update USUARIO
set
[ID_DOCUMENTO]=	@iddocumento, 
[PRIMER_NOMBRE]=@primernombre, 
[SEGUNDO_NOMBRE]=@segundonombre, 
[PRIMER_APELLIDO]=@primerapellido,  
[SEGUNDO_APELLIDO]=@segundoapellido, 
[TIPO_DE_DOCUMENTO]=@tipodedocumento, 
[TIPO_USUARIO]=@tipousuario,
[CONTRASEnA]=@contraseña, 
[ESTADO_CIVIL]=@estadocivil, 
[CELULAR]=@celular,
[MUNICIPIO_ID]=@municipio, 
[CORREO]=@correo 

where ID_DOCUMENTO=@iddocumento
end
GO
/****** Object:  StoredProcedure [dbo].[elm_usuario]    Script Date: 5/10/2023 7:11:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[elm_usuario]
@iddocumento int
as
begin
delete from USUARIO where ID_DOCUMENTO=@iddocumento
end
GO
/****** Object:  StoredProcedure [dbo].[ins_usuario]    Script Date: 5/10/2023 7:11:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ins_usuario]
 @iddocumento int,
 @primernombre varchar(30),
 @segundonombre varchar (30),
 @primerapellido varchar (45), 
 @segundoapellido varchar (45),
 @tipodedocumento int,
 @tipousurio int,
 @contraseña varchar (45),
 @estadocivil int,
 @celular varchar (15),
 @municipio int,
 @correo varchar (45)

  AS
  BEGIN
INSERT INTO USUARIO([ID_DOCUMENTO],[PRIMER_NOMBRE],[SEGUNDO_NOMBRE],[PRIMER_APELLIDO],[SEGUNDO_APELLIDO],[TIPO_DE_DOCUMENTO], 
	[TIPO_USUARIO],[CONTRASEnA],[ESTADO_CIVIL],[CELULAR],[MUNICIPIO_ID],[CORREO])
	VALUES (@iddocumento,@primernombre,@segundonombre,@primerapellido,@segundoapellido,@tipodedocumento,@tipousurio, 
 @contraseña,@estadocivil,@celular,@municipio,@correo)
  end
GO
/****** Object:  StoredProcedure [dbo].[ins_usuario_encriptado]    Script Date: 5/10/2023 7:11:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ins_usuario_encriptado]
 @iddocumento int,
 @primernombre varchar(30),
 @segundonombre varchar (30),
 @primerapellido varchar (45), 
 @segundoapellido varchar (45),
 @tipodedocumento int,
 @tipousurio int,
 @contrasena varchar (45),
 @estadocivil int,
 @celular varchar (500),
 @municipio int,
 @correo varchar (45)
 

  AS
  BEGIN
INSERT INTO USUARIO([ID_DOCUMENTO],[PRIMER_NOMBRE],[SEGUNDO_NOMBRE],[PRIMER_APELLIDO],[SEGUNDO_APELLIDO],[TIPO_DE_DOCUMENTO], 
	[TIPO_USUARIO],[CONTRASEnA],[ESTADO_CIVIL],[CELULAR],[MUNICIPIO_ID],[CORREO])
	VALUES (@iddocumento,@primernombre,@segundonombre,@primerapellido,@segundoapellido,@tipodedocumento,@tipousurio, 
 ENCRYPTBYPASSPHRASE('CONTRASENA', @contrasena),@estadocivil,@celular,@municipio,@correo)

 END
GO
USE [master]
GO
